.title{
  margin-top: 20px;
  margin-bottom: 0px;
  color: black;
  text-align: left;
}

.fontSetup{
  font-family: Raleway, Georgia, Times, serif;
  color: black;
  font-size: 100%;
  line-height: 150%;
  -webkit-font-smoothing: antialiased;
}

.subtitle{
  color: lightslategray;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: left;
}

.doha{
  font-style: italic;
  .fontSetup;
  text-align: center;
}

.explanation{
  .doha;
  font-style: normal;
}

.contentAreas {
  height: auto;
  width: 100%;
  float: left;
  .border;
  margin-bottom: 40px;

  .contentArea {

    padding: 15px 5% 15px;
    background-color: rgba(252, 252, 254, 0.75);
    margin: 20px 5% 40px 0;
    border: 1px solid #eee;

    img.header{
      margin-top: 5px;
      border: 1px solid gray;
      width: 60px;
      height: 60px;
      border-radius: 60px;
      margin-right: 15px;
      float: left;
    }

    img{
      width: 100%;
    }

    .title {
      text-align: left;
      font-size: 150%;
      margin-bottom: 0;
    }

    .author{
      margin: 0;
      font-family: 'Abel', Georgia, Times, serif;
      font-size: 100%;
      border-bottom: 1px solid #eee;
      padding-bottom: 15px;
      margin-bottom: 10px;
    }

    .content {
      color: black;
      font-size: 100%;
    }

  }

}

.center{
  text-align: center;
}

.border{
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

.additionalAreas{
  width: 25%;
  height: auto;
  margin: 20px 0;
  float: left;
  font-family: 'Abel', Georgia, Times, serif;

  .area{
    width: 100%;
    height: auto;
    border: 1px solid #eee;
    margin-bottom: 20px;
    background: white;
    .border;
  }

  .quickLinks{

    .header{
      padding-bottom: 10px;
      padding-top: 10px;
      background-color: salmon;
      .fontSetup;
      font-family: 'Abel', Georgia, Times, serif ;
      padding-left: 10%;
    }

    .innerContainer{
      padding-top: 0px;
      padding-bottom: 0px;
    }

    .content{
      height: auto;
      padding-bottom: 10px;
      padding-top: 10px;
      .fontSetup;
      font-size: 100%;
      color: black;
      line-height: 150%;
    }

  }

}

.innerContainer{
  width: 80%;
  height: auto;
  padding: 10%;
}

ul {
  .fontSetup;
}

.benefitList{
  list-style: circle;
  padding-left: 2%;

  li{
    padding-bottom: 10px;
  }

}

a:not(.custom) {
  text-decoration: none;
  color: inherit;
}

a:not(.custom):hover {
  text-decoration: underline;
}