/*	============ STYLES_MAIN.CSS ============
	This CSS file contains the definition of all main page components on the site.
	In other words, this comprises of:
		-> page/section wrappers with ID = wrapper_{wrapper_name}
*/

@colour: cornflowerblue;
@lighter-colour: #efcfff;
@main-colour: cornflowerblue;

html, body{
    overflow: auto;
    height: auto;
}
body {
    margin: 0;
    padding: 0;
    position: relative;
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0%;

    &:after {
        content:"";
        display:table;
        clear:both;
    }
}

.fonts{
    font-family: 'Abel', Georgia, Times, serif;
    font-size: 100%;
}

.hidden{
    visibility: hidden;
    opacity: 0;
}

.full-width{
    width: 100%;
}

.animation(@timing : 0.3s){
    -webkit-transition: all @timing ease-in-out;
    -moz-transition: all @timing ease-in-out;
    -ms-transition: all @timing ease-in-out;
    -o-transition: all @timing ease-in-out;
    transition: all @timing ease-in-out;
}

/*	The top section of the header area
	- defined using an id for customisability
*/
#headerTop{
    height: 35px;
    width: 100%;
    color: white;
    font-family: 'Yanone Kaffeesatz';
    background-color: @colour;
    .animation;
}

/*	The bottom section of the header area
	- defined using an id for customisability
*/
#headerBottom{
    height: 100%;
    position: fixed;
    top: 0;
    width: 30px;
    padding-right: 20px;
    background-color: rgb(255, 255, 255);
    border-right: 1px solid #eee;
    z-index: 10;
    .animation(0.2s);

    .innerArea{
        width: auto;
    }

}

#menuOption{
    height: 65px;
    width: 60px;
    position: fixed;
    top: 20px;
    z-index: 11;
    left: 0;
    border-top-right-radius: 10px;
    padding-right: 10px;
    border-bottom-right-radius: 10px;
    background: rgb(148, 186, 255);
    .animation(0.4s);
}

.width-half{
    margin: 0;
    width: 49.5%;
}

.left{
    float: left;
}

.right{
    float: right;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

nav {
    width: 100%;
    height: 100%;
    .animation;

    ul{
        float: left;
        list-style-type: none;
        margin: 0;
        width: 100%;

        li{
            width: 100%;
            height: 20px;
            padding: 20px 20px;
            padding-right: 0;
            text-align: left;
            border-bottom: 1px solid #eee;
            position: relative;
            .animation;

            &:hover{
                border-bottom: 1px solid #ccc;
                cursor: pointer;
                background-color: #eee;
            }

            &:hover > img{
                opacity: 0.5;
                -webkit-transform: rotate(5deg);
            }

            img{
                height: 30px;
                position: absolute;
                top: 15px;
                left: 10px;
                .animation(0.4s);

                &:hover{
                    cursor: pointer;
                }

            }

            .link {
                font-family: Abel, Georgia;
                margin-left: 25px;
                width: 0;
                opacity: 0;
                .animation(0.2s);

                &:hover{
                    cursor: pointer;
                    text-decoration: none !important;
                }

            }

        }

    }

    form[name="search"]{

        float: right;
        display: block;

        input[name="searchBar"]{
            width: 150px;
            border: none;
            border-bottom: 1px solid #eee;
            border-radius: 10px;
            padding: 5px 10px 5px 30px;
            font-family: Abel, Georgia, Times, serif;
            font-size: 100%;
            margin-top: 13px;
            .animation;

            &:focus{
                width: 200px;
                outline: none;
            }

        }

        #searchIcon{
            width: 17px;
            opacity: 0.25;
            display: block;
            position: absolute;
            margin-top: 20px;
            margin-left: 13px;
        }

    }

}

/* 	Apply to the inside of any div in order
	to apply the 960px grid standard	*/
.innerArea{
    height: auto;
    width: 960px;
    margin: 0 auto;

    &:after {
        content:"";
        display:table;
        clear:both;
    }

}

.verticalCentre{
    padding-top: 8px;
}

.half_page_div {
    display: inline-block;
    width:49.5%;
    /* height: 90px; */
}

p.half_page_div {
    display: inline-block;
    margin: 0;
    color:inherit;
}

#header_right {
    text-align: right;
}

a:not(.custom) {
    text-decoration: none;
    color: inherit;
}

a:not(.custom):hover {
    text-decoration: underline;
}

#nav_form {
    display: inline-block;
}

#nav_search{
    width: 170px;
    border-radius: 25px;
    border: 1px solid #999;
    padding: 6px;
    padding-left: 15px;
    font-size: 12px;
}

/*	Wraps the entire site (excluding the
	header	*/
#wrapper_all {
    height: auto;
    width: 100%;
}

.inner_wrapper {
    width: 100%;
    height:100%;
}

/*	Wraps the top heading + logo */
#wrapper_title{
    width: 100%;
    height: auto;

    #logo{
        display: block;
        margin: 0 auto;
        width: 90px;
    }

}

.title {
    font-family: Abel, Georgia, Times, serif;
    font-size: 200%;
    margin: 10px 0px 15px 0px;
    text-align: center;
}

p, span, h1, h2, h3{
    -webkit-font-smoothing: antialiased;
}

.content {
    .title;
    font-family: Raleway, Georgia;
    line-height: 150%;
    font-size: 100%;
    text-align: left;
    color: white;
}

.subTitle{
    .title;
    font-size: 150%;
    color: white;
}

/* 	Wrapper_{left && right} wrap all left hand and right hand
    elts on the main page */

.section_header {
    background-color: #5F51D8;
    margin: 0;
    margin-bottom: 5px;
    padding: 0.5em 0.5em 0.5em 0.5em;
    border-top-right-radius: 3em;
    border-bottom-right-radius: 3em;
    color:white;
    font-family: 'Yanone Kaffeesatz';
    font-size: 1.1em;
}

#wrapper_left{
    width: 72%;
    height: 88%;
    position: relative;
    float: left;
}

#wrapper_left > div {
    margin-bottom: 20px;
}

/*	Wraps the flash object on the main page. */
.wrapper_flash {
    display: inline-block;
    width: 100%;
    height: auto;
    margin-top: 10px;
}

#slider{
    height: 368px;
    overflow-y: hidden;
}

.wrapper_left_row{
    width: 100%;
    height: 33%;
}

.leftElement{
    width: 47%;
    height: 100%;
    float: left;
    margin-right: 5%;
    border-left: 1px solid #C8C8C8;
    position: relative;
}

.leftElement::after {
    content: "";
    display: block;
    position: absolute;
    left: -1px;
    width: 20px;
    border-bottom: 1px solid #C8C8C8;
}

#guru_image_wrapper {
    width: 47%;
    height: 100%;
    float: left;
    margin-right: 5%;
}

.third_partition {
    width: 100%;
    height:27.2%;
}

.third_partition::after {
    content: "";
    display: block;
    position: absolute;
    left:-1px;
    width: 10%;
    border-bottom: 1px solid #C8C8C8;
}

.news_title {
    margin: 0;
    margin-top: 5px;
    font-family: 'Yanone Kaffeesatz';
    font-weight: bold;
}

.date_wrapper_partition {
    width: 100%;
    height: 33%;
}

.date_style {
    margin: 5px 5px 0px 0px;
    color: red;
    text-align: right
}

#date_holder {
    position: absolute;
    height: 84.9%;
    width:20%;
    left:-20%;
}

#guru_image {
    height: 90%;
}

#guru_description {
    font-family: Georgia;
    margin: 5px 0px 0px 0px;
}

.month_list {
    padding: 0;
    margin: 0;
}

.month_select {
    display: inline-block;
    float: left;
}

.month_select label {
    color: #CFCFCF;
    padding:0px 5px 0px 5px;
    margin: 0px 0px 0px 3px;

    font-family: 'Yanone Kaffeesatz';
}

input[type="radio"] {
    display: none;
}

div[class="tab_content"] {
    display: none;
    width:100%;
    height:auto;

    font-family: 'Yanone Kaffeesatz';
}

input[id^="month"]:checked + label {
    background-color: #E1D0D4;
    color: black;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
}

input[id^="month"]:checked  ~ [class="tab_content"] {
    display: block;
    position: absolute;
    left: 0;
    background: -webkit-linear-gradient(#E1D0D4,white);
    background: -moz-linear-gradient(#E1D0D4,white);
    background: -o-linear-gradient(#E1D0D4,white);
    margin-top: 5px;
}

#svarveda_doha {
    color:red;
    font-family: Fira Sans;
    font-size: 1em;
    font-style: italic;
    font-weight: 500;
    line-height: 20px;
}

#doha_reference {
    text-align: right;
    color:red;
    font-family: Fira Sans;
    font-size: 1em;
    font-style: italic;
    font-weight: 500;
    line-height: 20px;
}

#extended_meaning {
    color: #FFCCCC;
    text-decoration: underline;
    text-align: right;
    display: block
;
    font-family: 'Yanone Kaffeesatz';
}

#extended_meaning:hover {
    color: red;
}

.leftElement:last-child{
    margin-right: 0%;
}

#wrapper_right{
    width: 23%;
    height: 88%;
    position: relative;
    margin-right: 3%;
    float: right;
}

#wrapper_right > div {
    margin-bottom: 20px;
}

#wrapper_qlinks{
    width: 100%;
    height: 28%;
    border-left: 1px solid #C8C8C8;
}

#wrapper_qlinks::after {
    content: "";
    display: block;
    position: absolute;
    left: 0px;
    width: 20px;
    border-bottom: 1px solid #C8C8C8;
}

.quick_link {
    display: block;
    color: black;
    margin-top: 1px;
    font-family: Fira Sans;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    /* font-weight: bold; */
    line-height: 20px;
    margin-left: 2px;
}

#wrapper_articles{
    width: 100%;
    height: 58%;
    border-left: 1px solid #C8C8C8;
}

#wrapper_articles::after {
    content: "";
    display: block;
    position: absolute;
    left: 0px;
    width: 20px;
    border-bottom: 1px solid #C8C8C8;
}

.soft_description {
    color: #C0C0C0;
    margin:0;

    font-family: 'Yanone Kaffeesatz';
}

#wrapper_updated{
    width: 100%;
    height: 8%;
    background-color: #5F51D8;
    border-top-right-radius: 3em;
    border-bottom-right-radius: 3em;
    padding: 0.5em 0.5em 0.5em 0.5em;
}

#updated_heading {
    margin: 0;
    padding: 0;
    color:white;
    font-family: 'Yanone Kaffeesatz';
    font-size: 1.3em;
    margin-bottom: 7px;
}

#email_input {
    width: 85%;
    font-size: 1em;
    color:black;
}

.footer_text {
    margin: 0;
    color:white;
    font-family: 'Yanone Kaffeesatz';
    display: inline-block;
    font-size: 0.9em;
}

#footer_right {
    text-align: right;
}

.introduction-component{
    height: auto;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

    .title{
        color: black;
        font-family: Raleway, Georgia;
        font-weight: bold;
        font-size: 175%;
    }

    .content{
        color: black;
        text-align: center;
        font-size: 125%;
        line-height: 150%;
    }

}

.testimonials{
    width: 100%;
    height: auto;
    margin-top: 25px;

    .testimonial{
        height: 72px;
        margin-top: 15px;
        margin-bottom: 5px;
        position: relative;
        background-color: rgb(226, 243, 255);
        border-radius: 70px;

        img{
            height: 70px;
            border-radius: 70px;
            display: block;
            float: left;
            position: absolute;
            border: 1px solid cornflowerblue;
            top: 0;

        }

        .testimonialText{
            .fonts;
            padding-left: 85px;
            padding-top: 13px;
            line-height: 25px;

            span{
                font-style: italic;
                color: rgb(131, 131, 131);
                opacity: 0.5;
                padding-right: 5px;
            }

        }

    }

}

.content-component{
    height: auto;
    width: 100%;
    background-color: @main-colour;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

    .title {
        color: white;
        text-align: left;
    }

    .text-container{

        .title, .content{
            text-align: center;
        }

    }

    .content-container{
        width: 33%;
        height: auto;
        float: left;

        img{
            height: 125px;
            display: block;
            margin: 0 auto;
        }

        ul{
            list-style: circle;
            color: white;

            li{
                .content;
                margin-bottom: 0;
                margin-top: 0;
                margin-left: 50px;
            }

        }

        .content{
            padding: 10px 20px;
            padding-bottom: 0px;
            text-align: center;
        }

    }

}

.information-component{

    height: auto;

    .left-content-wrapper{
        width: 30%;
        height: auto;
        float: left;

        .smallContentContainer{
            height: auto;
            width: 100%;
            margin: 5px;
            margin-top: 0;
            float: left;
            background: #FAFAFA;
            border: 1px solid #EEE;

            &.clean{
                background: none;
                border: 0;
            }

        }

    }

    .largeContentContainer{
        height: auto;
        width: 60%;
        margin-left: 2%;
        margin-bottom: 15px;
        padding: 30px;
        float: right;
        overflow: visible;
        background-color: rgba(252, 252, 254, 0.75);
        border: 1px solid #eee;

        .title.edited{
            padding-bottom: 10px;
            padding-top: 10px;
            margin-top: 0;
            border: 1px solid rgba(100, 149, 237, 0.43);
            border-left: 0;
            border-right: 0;
            color: cornflowerblue;
            border-top: none;
        }

        .containerHeading{
            height: 40px;
            width: 100%;
            padding-top: 10px;
            padding-bottom: 10px;
            background-color: salmon;

            p{
                text-align: center;
                .fonts;
                font-size: 200%;
                color: white;
            }
        }

        .containerSectionsWrapper{
            height: auto;
            width: 100%;

            .containerSection{
                height: auto;
                width: 100%;
                float: left;
                position: relative;
                margin-bottom: 5px;

                &:last-child{
                    margin-bottom: 0;
                }

                .australia{

                    img{
                        width: 32%;
                        height: auto;
                        border-radius: 0;
                        margin-right: 1%;
                        -webkit-filter: sepia(1);
                        float: none;
                    }

                    .last{
                        margin-right: 0;
                    }
                }

                .top{
                    height: 60px;
                    margin: 0;
                    padding-bottom: 10px;
                    border-bottom: 1px solid #eee;

                    img{
                        width: 60px;
                        height: 60px;
                        border-radius: 60px;
                        margin-right: 15px;
                        float: left;
                        border: 3px solid rgba(100, 149, 237, 0.2);
                    }

                    .title{
                        margin: 0;
                        font-size: 150%;
                        text-align: left;
                    }

                    .content{
                        margin: 0;
                        .fonts;
                    }

                }

            }

        }



    }

    .content{
        color: black;
    }

    &:after {
        content:"";
        display:table;
        clear:both;
    }

}

.upcomingEvents{

    background: white !important;
    border-radius: 30px;

    .title{
        margin-bottom: 0;
    }

    #calendar{
        font-family: Abel, Georgia;
    }

    p{
        text-align: center;
    }

    span{
        .fonts;
    }

    .eventHeader {

        height: 40px;
        width: 100%;
        margin-bottom: 5px;
        margin-top: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: lightsalmon;

        span.eventTitle{
            font-weight: bold;
        }

        span.eventName{
        }

    }

    .eventDate{

        height: 130px;
        width: 100%;
        margin: 0;
        margin-top: 10px;

        & span{
            font-family: Raleway, Georgia;
        }

        span.month{
            font-size: 300%;
        }

        span.day{
            font-size: 500%;
            line-height: 48px;
        }

    }

    .eventDetails{

        height: 65px;
        width: 100%;
        margin: 0;
        margin-top: 0px;
        margin-left: 35px;
        text-align: left;

        span.fieldTitle{
            font-weight: bold;
        }

    }

}

.sukrit{

    position: relative;

    img{
        width: 100%;
        margin-bottom: 5px;
    }

    .content{
        margin-bottom: 0px;
    }

    a{
        text-decoration: underline;
        color: blue;
    }

}

.updated-component{
    background-color: @main-colour;
    padding-bottom: 60px;

    .title{
        padding-top: 30px;
        padding-bottom: 10px;
        color: white;
    }

    .content{
        text-align: center;
    }

    .emailEntered{
        display: block;
        margin: 0 auto;
        width: 30px;
        border-radius: 30px;
    }

    input[type=text]{
        width: 100%;
        border: 1px solid #eee;
        padding: 20px;
        .fonts;
        font-size: 125%;
        padding-left: 40px;
        border-radius: 60px;
        margin-top: 10px;
    }

}

.button{
    padding: 10px;
    border: 1px solid white;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;
    border-radius: 30px;
    .animation;

    a.text{
        .fonts;

        &:hover{
            text-decoration: none;
        }

    }

    &:hover{
        background-color: rgba(255, 255, 255, 1);
        color: black;
    }

}

.landing{
    border: 1px solid #eee;
    display: table;
    margin-top: 50px;
    width: auto;
    padding-left: 50px;
    color: white;
    padding-right: 50px;
    background-color: cornflowerblue;
}

#landingWrapper{
    height: auto;
    width: 960px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    input[type=text]{
        width: 100%;
        border: 1px solid #eee;
        padding: 20px;
        .fonts;
        font-size: 125%;
        padding-left: 40px;
        border-radius: 60px;
    }

}

#footer{
    #headerTop;
    position: absolute;
    bottom: 0;
    left: 0;
}

